.form {
  margin-top: 15px;
}

.form label {
  margin-right: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.form input {
  height: 25px;
  width: 200px;
  border: 1px solid black;
  font-size: 18px;
}

.form button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: rgb(56, 145, 75);
  color: white;
  border: 3px solid rgb(48, 109, 71);
  margin-left: 5px;
  font-size: 18px;
}

.form button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}