.list {
  margin-top: 25px;
  background: rgb(45, 146, 83);
  border-top: 5px dotted rgb(48, 109, 71);
  border-left: 5px solid rgb(48, 109, 71);
  border-right: 5px solid rgb(48, 109, 71);
  border-bottom: 5px dotted rgb(48, 109, 71);
  min-width: 400px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 15px;
}



