.TodoList {
  background:  rgb(38, 114, 45);
  width: 90%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted white;
  margin-bottom: 15px;
  min-height: 20px;
  border-radius: 5px;
  position: relative;
}
.TodoList a {
  text-decoration: none;
  color: white;
}


.TodoList button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  background: rgb(56, 145, 75);
  color: white;
  border: 3px solid rgb(48, 109, 71);
  font-size: 18px;
}
.TodoList:hover {
  transform: scale(1.05);
  transition: 1s;
}